doc/dbupdates/*.ok
doc/dbupdates/*.fail
*.swp
*.bak
upload/*
.DS_Store
config.php
config-auto.php
composer.phar
/vendor/*
/agiletoolkit-sandbox.phar
run.sh
run.bat
VERSION
/index.php
.idea
.composer
addons/
/db/*
