.atk-table.atk-table-outline
 table
    tdead
        tr
            th
                {title}Plugins{/}
    tbody
        | {rows}{row}
        tr
            td
                {name}
        | {/row}{/rows}
